<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auth Server</title>
    <meta name="color-scheme" content="light dark">
    @RenderSection("Styles", required: false)
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
